
<% provide(:title, @user.name) %>
<div class="row">
<aside class="span4">
  <section>
    <h1>
      Welcome
      <%= @user.name %>
    </h1>
  </section>

</aside>

</div>
<%= link_to 'New Meetup group', new_meetup_group_path,class: "btn btn-large btn-primary"  %>


<h2>My meetup groups</h2>
<table class="table table-striped">
  <thead>
  <tr><th>Topic</th></tr>
  <tr>
    <%= content_tag_for(:tr, @user.managing_meetup_groups) do |meetup_group| %>

        <th><%= meetup_group.topic%></th>
        <th><%= link_to 'View', meetup_group %></th>
        <th><%= link_to 'Edit', edit_meetup_group_path(meetup_group), class: "btn btn-large btn-primary"  %></th>
       <th> <%= link_to 'Add Activity', new_activity_path(activity: {meetup_group_id: meetup_group.id}),
                    class: "btn btn-large btn-primary"   %></th>
        <th><%= link_to 'Add Member', new_membership_path(membership: {meetup_group_id: meetup_group.id}),class: "btn btn-large btn-primary"  %></th>
        <th><%= link_to 'Delete', meetup_group, method: :delete, data: { confirm: 'Are you sure?' },title: meetup_group.topic  %></th>
      </tr>


      <% end %>

</tr>



  </thead>

</table>
<h2>Member of  meetup groups</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Meetup Group</th>
    <th>Member since</th>
    <th></th>
  </tr>
  </thead>
  <%= content_tag_for(:tr, @user.memberships) do |membership| %>
      <td><%= link_to membership.meetup_group.topic, membership.meetup_group %></td>
      <td><%= membership.created_at %></td>


  <% end %>
</table>
