<p id="notice"><%= notice %></p>
<h1>All Your Groups</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Topic</th>
      <th>Incepted at</th>
      <th>Home town</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% if current_user?(@meetup_group.owner_id) %>
    <% @meetup_groups.each do |meetup_group| %>

      <tr >
        <td><%= meetup_group.owner_id %></td>
        <td><%= meetup_group.topic %></td>
        <td><%= meetup_group.incepted_at %></td>
        <td><%= meetup_group.home_town %></td>
        <td><%= link_to 'Show', meetup_group %></td>
        <td><%= link_to 'Edit', edit_meetup_group_path(meetup_group) %></td>
        <td><%= link_to 'Destroy', meetup_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetup group', new_meetup_group_path %>
