<p id="notice"><%= notice %></p>
<div style="float: right">
  <%= link_to 'Add Activity', new_activity_path,class: "btn btn-large btn-primary"  %>
  <%= link_to 'Add Members', new_membership_path,class: "btn btn-large btn-primary"  %>


</div>
<p>
  <strong>Owner:</strong>
  <%= @meetup_group.owner_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @meetup_group.topic %>
</p>

<p>
  <strong>Incepted at:</strong>
  <%= @meetup_group.incepted_at %>
</p>

<p>
  <strong>Home town:</strong>
  <%= @meetup_group.home_town %>
</p>

<%= link_to 'Edit', edit_meetup_group_path(@meetup_group) %> |
<%= link_to 'Back', meetup_groups_path %>

<% if @meetup_group.activities.any? %>
    <h2>Group Activities( <%= @meetup_group.activities.count %>)</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <%= content_tag_for(:tr, @meetup_group.activities) do |activities| %>
          <tr>
            <th>Topic</th>
            <th><%= link_to activities.topic, activities %></th>
          </tr>


      <% end %>

<% end %>

</thead>

</table>

<% if @meetup_group.memberships.any? %>
    <h2>Members( <%= @meetup_group.memberships.count %>)</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <%= content_tag_for(:tr, @meetup_group.memberships) do |memberships|%>
          <tr>
            <th>User</th>
            <th><%= link_to memberships.user_id, memberships %></th>
          </tr>


      <% end %>
<% end %>


</thead>

</table>
