<p id="notice"><%= notice %></p>
<%= link_to 'Home', current_user %> > <%= @meetup_group.topic %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       Topic: <%= @meetup_group.topic %>
       </h1>
      <h1>
        Incepted At: <%= @meetup_group.incepted_at %>
        <br/>
        Hometown: <%= @meetup_group.home_town %>
      </h1>

    </section>
  </aside>
</div>
<div>




</div>
<% if current_user?(@meetup_group.owner) %>
<th><%= link_to 'Edit', edit_meetup_group_path(meetup_group_id: @meetup_group.id), class: "btn btn-large btn-primary"  %></th>
<%= link_to 'Add Activity', new_activity_path(activity: {meetup_group_id: @meetup_group.id}),
            class: "btn btn-large btn-primary"   %>
<%= link_to 'Add Member', new_membership_path(membership: {meetup_group_id: @meetup_group.id}),class: "btn btn-large btn-primary"  %>
<%end%>
<div class="row">
  <% if @meetup_group.activities.any? %>
      <h2>Group Activities( <%= @meetup_group.activities.count %>)</h2>
      <table class="table table-striped">
        <thead>
        <tr> <th>Name</th><th>Votes</th><th>Definite</th>
          <%= content_tag_for(:tr, @meetup_group.activities) do |activities| %>
            <tr>

              <th><%= activities.Name %></th>

              <% if activities.votes.any? %>
               <th><%= activities.votes.count %></th>
                  <%else%>
              <th>0</th>
                  <%end%>
              <th><%= activities.Definite %></th>
              <td><%= link_to 'View Details', activities %></td>

              <% if current_user?(@meetup_group.owner) %>
                  <td><%= link_to 'Edit', edit_activity_path(activities) %></td>
              <td><%= link_to 'Destroy', activities, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <%else%>
                  <% if activities.voted?(current_user) ||activities.Definite==true %>
                      <td>already voted or its definite</td>



                          <%else%>
                      <td><%= link_to 'Vote', new_vote_path(vote: {activity_id: activities.id, user_id: current_user}) %></td>
                      <%end%>
              <%end%>
            </tr>


        <% end %>

  <% end %>
</tr>
  </thead>

  </table>

  <% if @meetup_group.memberships.any? %>
      <h2>Members( <%= @meetup_group.memberships.count %>)</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <%= content_tag_for(:tr, @meetup_group.memberships) do |memberships|%>
            <tr>
              <th>User</th>
              <th><%= link_to memberships.user_id, memberships %></th>
              <% if current_user?(@meetup_group.owner) %>
              <th><%= link_to 'Destroy', memberships, method: :delete, data: { confirm: 'Are you sure?' } %></th>
                  <%end%>
            </tr>


        <% end %>
  <% end %>


  </thead>

  </table>
</div>
