<p id="notice"><%= notice %></p>
<div style="float: right">
  <%= link_to 'Add New Activity', new_activity_path,class: "btn btn-large btn-primary"  %>


</div>
<p>
  <strong>Owner:</strong>
  <%= @meetup_group.owner_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @meetup_group.topic %>
</p>

<p>
  <strong>Incepted at:</strong>
  <%= @meetup_group.incepted_at %>
</p>

<p>
  <strong>Home town:</strong>
  <%= @meetup_group.home_town %>
</p>

<%= link_to 'Edit', edit_meetup_group_path(@meetup_group) %> |
<%= link_to 'Back', meetup_groups_path %>
