<%= page_title 'Welcome' %>

<% if signed_in? %>
  <h2>Your next activities are</h2>
  <%= content_tag_for(:div, @activities) do |activity| %>
    <h3><%= render 'activities/title', activity: activity %></h3>
    <%= render 'activities/activity', activity: activity %>
  <% end %>
<% else %>
  Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %>.
<% end %>
