<div class="modal fade" id="selectActivityImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search Image on Flickr</h4>
      </div>
      <div class="modal-body">
        <form class="search-form form-inline" role="search">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Search Images</button>
        </form>
        <div class="search-box">
          <ul class="pager">
            <li><a href="#" class="prev">Previous</a></li>
            <li><a href="#" class="next">Next</a></li>
          </ul>
          <div class="search-results">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-activity-image" data-activity="<%= @activity.id %>">Save image</button>
      </div>
    </div>
  </div>
</div>




<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <%= f.text_field :Location %>
  </div>
  <div class="field">
    <%= f.label :Start_at %><br>
    <%= f.datetime_select :Start_at %>
  </div>
  <div class="field">
    <%= f.label :Duration %><br>
    <%= f.number_field :Duration %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.hidden_field :meetup_group_id %>
  </div>
  <div class="field">
    <%= f.label :Definite %><br>
    <%= f.check_box :Definite %>
  </div><br />

    <div class="action">

      <div class="col-sm-6 col-sm-push-6">

           <%= link_to 'Attach image', '@activity', class: 'btn btn-primary btn-lg',
                    data: {toggle: 'modal', target: '#selectActivityImage'} %>
      </div>
    </div>
<br />
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-lg' %> <%= link_to  'Back', current_user, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
