<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start at</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Meetup group</th>
      <th>Definite</th>
      <th>Votes count</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.Name %></td>
        <td><%= activity.Location %></td>
        <td><%= activity.Start_at %></td>
        <td><%= activity.Duration %></td>
        <td><%= activity.Description %></td>
        <td><%= activity.meetup_group_id %></td>
        <td><%= activity.Definite %></td>
        <td><%= activity.votes_count %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
