<div class="modal fade" id="selectActivityImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Attach Image</h4>
      </div>
      <div class="modal-body">
        <form class="search-form form-inline" role="search">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Search Images</button>
        </form>
        <div class="search-box">
          <ul class="pager">
            <li><a href="#" class="prev">Previous</a></li>
            <li><a href="#" class="next">Next</a></li>
          </ul>
          <div class="search-results">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-activity-image" data-activity="<%= @activity.id %>">Save image</button>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col-sm-6 col-sm-push-6">
    <%= attached_image @activity %>
    <%= link_to @activity.image_link, @activity.image_link, class: 'activity-image-link' %>
    <%= link_to 'Attach image', '#', class: 'btn btn-primary btn-lg',
                data: {toggle: 'modal', target: '#selectActivityImage'} %>
  </div>
  </div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.Name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.Location %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @activity.Start_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @activity.Duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.Description %>
</p>

<p>
  <strong>Meetup group:</strong>
  <%= @activity.meetup_group_id %>
</p>

<p>
  <strong>Definite:</strong>
  <%= @activity.Definite %>
</p>

<p>
  <strong>Votes count:</strong>
  <%= @activity.votes_count %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
